<div class="content">
    <mb-table-title [title]="'model.scheduler.listCourse'"></mb-table-title>
    <!-- filter element -->
    <nz-table class="content mt-3">
      <div [formGroup]="" class="filter-element">
        <div class="row p-4">
          <div class="col-3">
            <label>{{ "common.keyword" | translate }}</label>
            <input type="text" nz-input formControlName="keyword" [placeholder]="'model.user.searchTitle' | translate"
                  />
          </div>
         </div>
        <div class="row mt-3 mb-3 text-center">
          <div class="col-12">
            <button class="me-3" nz-button nzType="default">
              {{ "action.reset" | translate }}
            </button>
            <button nz-button nzType="primary">
              {{ "common.search" | translate }}
            </button>
          </div>
        </div>
      </div>
    </nz-table>
    <div class="row mt-3">
      <div class="col-12 text-end" *hasRoles="['survey:update']">
        <mb-button [type]="'primary'" class="me-3" [icon]="'plus'" [text]="'action.create'" *hasRoles="['user:create']"
        (click)="create()">
        </mb-button>
      </div>
    </div>
    <!--end filter element -->
    <div class="row mt-3">
      <div class="col-12">
        <nz-table
          #table
          [nzData]="courses"
          [nzNoResult]="noDataResult"
          [nzTableLayout]="'auto'"
        >
          <thead>
          <tr>
            <th nzAlign="center">{{ "common.index" | translate }}</th>
            <th nzAlign="center">
              {{ "model.scheduler.name" | translate }}
            </th>
              <th nzAlign="center">
                {{ "model.scheduler.maxNumbOfStudents" | translate }}
              </th>
              <th nzAlign="center">
                {{ "model.scheduler.module" | translate }}
              </th>
            <th
              nzAlign="center"
              [nzWidth]="'150px'"
              *hasRoles="['user:update']"
            >
              {{ "action.msg" | translate }}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of courses; let i = index">
            <tr>
              <td nzAlign="center">{{ i + 1 }}</td>
              <td nzAlign="center">{{ item.name }}</td>
              <td nzAlign="center">{{ item.maxNumbOfStudents }}</td>
              <td nzAlign="center">{{ item.module.name }}</td>
              <!-- <td nzAlign="left">{{item.authenticationType }}</td>
              <td nzAlign="left" *hasRoles="['user:update']"> -->
                <td nzAlign="center">
                <mb-button-action
                  [action]="'edit'"
                  *hasRoles="['user:update']"
                  className="first"
                  nzTooltipTitle="{{ 'action.update' | translate }}"
                  nzTooltipPlacement="top"
                  nz-tooltip
                  (click)="update(item)"
                >
                </mb-button-action>
                <mb-button-action [action]="'delete'" [className]="'last'"
                                nzTooltipTitle="{{'action.delete' | translate}}" nzTooltipPlacement="top" nz-tooltip
                                (click)="delete(item)">
                            </mb-button-action>
            </td>
            </tr>
          </ng-container>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
  <ng-template #noDataResult>
    <mb-no-data></mb-no-data>
  </ng-template>
  <mb-modal [title]="'model.scheduler.titleDelete'" [content]="'model.scheduler.contentDelete'" [btnCentered]="true"
    [isVisible]="isVisible" (emitter)="onDelete($event)">
</mb-modal>

  