.ant-divider {
  margin: 5px 0;
}

.select-all {
  cursor: pointer;
  border-radius: 4px;
  margin: 5px 15px;
  padding: 8px;
  background: #ffffff;
  color: #0F172A;
}

.select-all:hover {
  background: #f5f5f5;
}
