<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar ant-layout-sider-custom"
    nzCollapsible
    nzWidth="320px"
    nzBreakpoint="xxl"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a (click)="navigateDashboard()">
        <img
          [ngClass]="
            isCollapsed ? 'sidebar-logo-default' : 'sidebar-logo-resize'
          "
          src="https://www.jewelchangiairport.com/content/dam/jca-project/global/logo-dark@3x.png"
          alt="logo"
          id="evotek-logo"
        />
      </a>
    </div>
    <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>
  </nz-sider>
  <nz-layout [ngClass]="isCollapsed ? 'ant-layout-has-sider-collapsed' : ''">
    <nz-header>
      <div class="app-header">
        <div class="d-flex">
          <div class="col">
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i
                class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
            </span>
            <span class="layout-header-title">
              {{ title | translate }}
            </span>
          </div>
          <div class="col pe-3 text-end">
            <div class="layout-header-information">
              <!-- noti me -->
              <button
                class="btn-user ant-btn"
                nz-dropdown
                [nzDropdownMenu]="menu2"
                style="border: none"
                [nzTrigger]="'click'"
                [nzClickHide]="false"
                [(nzVisible)]="visibleMenu"
                [nzOverlayClassName]="'user-dropdown-menu'"
                nzPlacement="bottomRight"
              >
                <nz-badge [nzCount]="newNotificationTotal">
                  <i
                    nz-icon
                    nzType="bell"
                    nzTheme="outline"
                    style="font-size: 20px; color: #0054a5"
                  ></i>
                </nz-badge>
              </button>
              <nz-dropdown-menu #menu2="nzDropdownMenu">
                <div class="dropdown-card-noti">
                  <div class="cart-container-noti">
                    <ng-container *ngFor="let item of listNoti">
                      <div
                        (click)="detailNoti(item)"
                        class="pointer d-flex p-4 card-item"
                      >
                        <div class="col-2 pl-0">
                          <i
                            nz-icon
                            nzType="bell"
                            nzTheme="outline"
                            class="iconBell"
                            style="font-size: 20px"
                          ></i>
                        </div>
                        <div class="col">
                          <span id="{{ item?.isRead ? 'read' : 'unread' }}">
                            {{ item.title | limitWord: 30 }}
                          </span>
                        </div>
                        <small id="{{ item?.isRead ? 'read' : 'unread' }}">{{
                          formatDate(item.sendAt)
                        }}</small>
                      </div>
                    </ng-container>
                  </div>
                  <div
                    class="notification__custom kt-space-between"
                    id="bottonNagative"
                  >
                    <button
                      nz-button
                      nzType="primary"
                      (click)="notifiMeNavigate()"
                    >
                      {{ "model.notification.titleMeView" | translate }}
                    </button>
                  </div>
                </div>
              </nz-dropdown-menu>
              <!-- noti me -->
              <nz-divider nzType="vertical"></nz-divider>
              <button
                class="btn-language"
                nz-button
                nz-popover
                nzPopoverTrigger="click"
                [(nzPopoverVisible)]="visible"
                [nzPopoverContent]="languageTemplate"
              >
                <img
                  *ngIf="currentLanguage === VI"
                  src="assets/images/icon/vietnam.png"
                  alt="vi"
                />
                <img
                  *ngIf="currentLanguage === EN"
                  src="assets/images/icon/english.png"
                  alt="en"
                />
              </button>
              <ng-template #languageTemplate>
                <div class="language-form">
                  <p (click)="onChangeLanguage(VI)">
                    <img src="assets/images/icon/vietnam.png" alt="vi" />
                    <span class="ml-2">{{ "common.vi" | translate }}</span>
                  </p>
                  <p (click)="onChangeLanguage(EN)">
                    <img src="assets/images/icon/english.png" alt="en" />
                    <span class="ml-2">{{ "common.en" | translate }}</span>
                  </p>
                </div>
              </ng-template>
              <!-- menu hello name, logout -->
              <nz-divider nzType="vertical"></nz-divider>
              <button
                class="btn-user ant-btn"
                nz-dropdown
                [nzDropdownMenu]="menu1"
                [nzTrigger]="'click'"
                [nzOverlayClassName]="'user-dropdown-menu'"
                nzPlacement="bottomRight"
              >
                <span class="me-1">{{ "common.hello" | translate }}</span>
                <span class="font-weight-bold">
                  {{ getShortName(currentUser) }}
                </span>
              </button>
              <nz-dropdown-menu #menu1="nzDropdownMenu">
                <!--                <ul nz-menu>-->
                <!--                  <li nz-menu-item>Hồ sơ cá nhân </li>-->
                <!--                  <li nz-menu-item (click)="logout()"> {{ 'model.logout.title' | translate }}</li>-->
                <!--                </ul>-->
                <div class="dropdown-card">
                  <div
                    class="user-card"
                    style="
                      background-image: url(/assets/images/bg-user-card.jpg);
                    "
                  >
                    <div class="user-card__avatar">
                      <nz-avatar
                        nzIcon="user"
                        [nzSize]="60"
                      ></nz-avatar>
                    </div>
                    <div class="user-card__name">
                      {{ getShortName(currentUser) }}
                    </div>
                  </div>
                  <div class="cart-container pointer">
                    <div
                      class="d-flex p-4 card-item"
                    >
                      <!-- <div class="col-2 pl-0">
                        <i
                          nz-icon
                          nzType="profile"
                          nzTheme="outline"
                          style="font-size: 45px; color: #0054a5"
                        ></i>
                      </div> -->
                      <!-- <div class="col-1 m-auto">
                        <i nz-icon nzType="right" nzTheme="outline"></i>
                      </div> -->
                    </div>
                    <div
                      class="d-flex p-4 card-item"
                      *ngIf="
                        this.currentUser?.authenticationType ===
                        USER_PROFILE_INTERNAL
                      "
                      (click)="openChangePasswordModal()"
                    >
                      <div class="col-2 pl-0">
                        <i
                          nz-icon
                          nzType="profile"
                          nzTheme="outline"
                          style="font-size: 45px; color: #0054a5"
                        ></i>
                      </div>
                      <div class="col font-weight-bold m-auto">
                        {{ "model.dashboard.changePassword" | translate }}
                      </div>
                      <div class="col-1 m-auto">
                        <i nz-icon nzType="right" nzTheme="outline"></i>
                      </div>
                    </div>
                    <div class="notification__custom kt-space-between">
                      <button nz-button nzType="primary" (click)="logout()">
                        {{ "model.logout.title" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </nz-dropdown-menu>
              <!-- menu hello name, logout -->
              <!--              <button class="btn-logout" nz-button nzType="default">-->
              <!--                <a (click)="logout()">-->
              <!--                  {{ 'model.logout.title' | translate }}-->
              <!--                </a>-->
              <!--              </button>-->
            </div>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content [ngClass]="isDashboard ? 'nz-content-dashboard' : ''">
      <div class="inner-content">
        <nz-spin
          [nzSpinning]="loadingService?.isLoading | async"
          [nzTip]="'common.spinningTip' | translate"
        >
          <router-outlet></router-outlet>
        </nz-spin>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
