<section class="content">
  <div *nzModalTitle>
    <span>{{ "action.import" | translate }}</span>
  </div>
  <ng-container *ngIf="isImport === true">
    <div class="d-flex align-items-center mb-3">
      <div class="import_title me-3">
        {{ "common.hintTemplate" | translate }}
      </div>
      <button
        nz-button
        nzType="primary"
        class="me-3"
        (click)="downloadTemplate()"
      >
        {{ "action.download" | translate }}
      </button>
      <ng-container *ngIf="loading === true">
        <nz-spin nzSimple></nz-spin>
      </ng-container>
    </div>
  </ng-container>
  <div class="row">
    <div class="col-12">
      <nz-upload
        nzType="drag"
        [nzMultiple]="multiple"
        [nzAccept]="acceptFiles"
        [nzShowUploadList]="true"
        [nzCustomRequest]="handleCustomUploadReq"
        (nzChange)="handleChange($event)"
      >
        <p class="ant-upload-drag-icon">
          <i nz-icon nzType="inbox"></i>
        </p>
        <p class="ant-upload-text">
          {{ "common.uploadText" | translate }}
        </p>
        <p class="ant-upload-hint">
          <ng-container *ngIf="isSingle; else singleHint">
            {{ "common.uploadSingleHint" | translate }}
          </ng-container>
          <ng-template #singleHint>
            {{ "common.uploadHint" | translate }}
          </ng-template>
        </p>
      </nz-upload>

      <mb-file
        class="mb-2"
        [isRemove]="true"
        [filesUpload]="files"
        [filesOrigin]="filesOrigin"
        (onChangeFilesUpload)="getFiles($event)"
      >
      </mb-file>

      <ng-container *ngIf="resultStatus">
        <div class="import_result mt-3">
          <div class="import_result_title">
            {{ "common.resultImportHint" | translate }}
          </div>
          <div class="import_result_file">
            <div class="import_result_file_icon">
              <i nz-icon nzType="file-excel" nzTheme="outline"></i>
            </div>
            <div class="import_result_file_name">{{ fileResultName }}</div>
            <div class="import_result_file_download" (click)="downloadResult()">
              <i nz-icon nzType="download" nzTheme="outline"></i>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *nzModalFooter>
      <button nz-button nzType="default" (click)="onCancel()">
        {{ "action.cancel" | translate }}
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="onSubmit()"
        [disabled]="files.length === 0"
      >
        {{ "action.confirm" | translate }}
      </button>
    </div>
  </div>
</section>
