span {
  font-size: 24px;
  color: #000000;
  font-weight: 500;
}

img {
  cursor: pointer;
  height: 18px;
  width: 10px;
  color: #0F172A;
  margin-right: 10px;
}

.title {
  align-items: center;
}
